html,
body,
h1,
p,
form,
input,
a,
select {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #27303f;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27303f;
    padding: 20px;
}

header h1,
header a {
    color: #fff;
}

header p {
    color: #fff;
    margin-left: 100px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left content right";
    grid-gap: 20px;
    padding: 20px;
}

.sidebar-left,
.sidebar-right {
    width: 200px;
    background-color: #27303f;
    padding: 20px;
    min-height: 100vh;
}

.sidebar-left a,
.sidebar-right a,
.sidebar-left h2,
.sidebar-right h2 {
    color: #fff;
}

.sidebar-left {
    margin-right: 20px;
    float: left;
    grid-area: left;
}

.sidebar-right {
    margin-left: 20px;
    float: right;
    grid-area: right;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27303f;
    padding: 20px;
}

footer p {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

input:focus {
    outline: none;
    border-color: #27303f;
    box-shadow: 0 0 5px rgba(11, 61, 145, 0.5);
}

select {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #27303f;
}

select:focus {
    outline: none;
    border-color: #27303f;
    box-shadow: 0 0 5px rgba(11, 61, 145, 0.5);
}

input[type="submit"],
button {
    background-color: #27303f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #27303f;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    grid-area: content;
    min-height: 100vh;
    background-color: #27303f;
}

.container {
    margin: 20px;
    padding: 30px;
    background-color: #3A4453;
    border-radius: 10px;
    flex-grow: 1;
    width: 95%;
    overflow-x: auto;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "right"
            "content"
            "left";
    }

    .sidebar-right {
        display: none;
    }
}

.user {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #27303f;
}

.user:hover {
    background-color: #fff;
}

.selected {
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #fff;
}

th {
    background-color: #27303f;
    font-weight: bold;
    color: #fff;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #3A4453;
}

tr:hover {
    background-color: #3A4453;
}

.hidden {
    display: none;
}

.comment-date {
    font-size: 0.8em;
    /* Make the text smaller */
    float: right;
    /* Align to the right */
}

html {
    height: 100%;
}