body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

#login-container, #chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    padding: 20px;
}

#chat-container {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#chat-container.hidden {
    display: none;
}

#messages-container {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    max-height: 80vh;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #1e1e1e;
    max-width: 80%;
    word-wrap: break-word;
}

.message.user {
    background: #1c7e4d;
    align-self: flex-end;
}

.message.other {
    background: #1c3e7e;
    align-self: flex-start;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #444;
    background-color: #121212;
    position: absolute;
    bottom: 0;
}

#message-input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #282828;
    color: #fff;
}

#send-button {
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}
